# Dependencias
node_modules

# Logs
logs
*.log

# Next.js
.next/
out/

# Build
*.tsbuildinfo

# Variables de entorno
.env
.env.*
!.env.example
.env*.local

# Videos (frontend)
frontend/public/temario/**/*.mp4
frontend/public/temario/**/*.webm
frontend/public/temario/**/*.mov

# Prisma generated
/generated/prisma
backend/generated/prisma

# Docker
.env.production
.env.staging

# Sistema
.DS_Store

# IDE
.idea/
.vscode/


